.resume{
    padding: 5rem 10rem;
    display: flex;
    justify-content: center;
}

.resume a{
    font-size: 2rem;
    padding: 2rem;
    background: #f75023;
    border-radius: 35px;
    color: #fff;
    transition: all 0.5s;
}
@media(max-width: 700px){
    .resume a{
        font-size: 1.5rem;
        padding: 1.7rem;
    }
       
}
.resume a:hover{
    background-color: #1cbe59;
    color: #fff;

}
