*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
.container{
    max-width: 133rem;
    margin: 0 auto;
    padding: 0 2.5rem;
}
.container{
    padding: 0 2rem;
    max-width: 133rem;
    margin: 0 auto;
}
a{
    text-decoration: none;
}
p,a{
    font-size: 1.6rem;
}
ul{
    list-style: none;
}