*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

.container{
    padding: 0 2rem;
    max-width: 133rem;
    margin: 0 auto;
}
@media(max-width: 800px){
    .container{
        padding: 0;
    }
}
a{
    text-decoration: none;
}
p,a{
    font-size: 1.6rem;
}
ul{
    list-style: none;
}